:root {
  --color1: skyblue;
  --color2: bisque;
  --color3: aquamarine;
}

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Header Styles */

header {
  height: 100px;
  width: 100%;
  background-color: var(--color1);
}

header h1 {
  margin-left: 50px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-direction: row;
}

nav a {
  margin-right: 30px;
  text-decoration: none;
  color: black; /*add var root */
}


/* Hero Banner Styles */

.hero-banner {
  height: 400px;
  width: 100%;
  background-image: url(../images/main.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

.hero-banner h2 {
  padding: 30px;
}

/* Page Wrapper Styles */

.page-wrapper {
  padding: 30px;
}


/* About Me Styles */

#about, #work, #contact {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: "about-title about-content";
  padding: 50px 0 50px 0;
}

#about {
  background-color: var(--color3);
}

#about h2, #work h2, #contact h2 {
  text-align: right;
  padding: 30px 30px 0 0;
}

#about p {
  padding: 30px 50px 30px 30px;
  text-align: justify;
}

#work {
  height: 100%;
  background-color: var(--color1);
}

#about h2, #work h2 {
  grid-area: about-title;   /*Create classes for this*/
}

.content, .footer { /*change this class*/
  grid-area: about-content;
  border-left: 3px black solid;
}

/* Work Styles */

#projects {
  width: 100%;
  display: grid;
  grid-template-rows: 300px 200px 200px;
  grid-template-columns: 45% 45%;
  grid-template-areas: "project1 project1"
  "project2 project3"
  "project4 project5";
  padding: 50px 0 50px 0;
  gap: 30px;
  justify-content: center;
}

.project1 {
  grid-area: project1;
  background-image: url(../images/02-portfolio-1.jpg);
  border: 10px var(--color2) solid;
}

.project2 {
  grid-area: project2;
  background-image: url(../images/02-portfolio-2.jpg);
  border: 10px var(--color2) solid;
}

.project3 {
  grid-area: project3;
  background-image: url(../images/02-portfolio-3.jpg);
  border: 10px var(--color2) solid;
}

.project4 {
  grid-area: project4;
  background-image: url(../images/02-portfolio-4.jpg);
  border: 10px var(--color2) solid;
}

.project5 {
  grid-area: project5;
  background-image: url(../images/02-portfolio-4.jpg);
  border: 10px var(--color2) solid;
}


/* Contact Me Styles */

#contact {
  height: 200px;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}