:root {
  --color1: #F8F6F4;
  --color2: #13005A;
  --color3: #00337C;
  --color4: #1C82AD;
  --color5: #03C988;

}

* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--color3);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  color: var(--color1);
}

/* Header Styles */

header {
  height: 100px;
  width: 100%;
  background-color: var(--color2);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  margin-left: 50px;
  color: var(--color1);
}

nav {
  display: flex;
  flex-direction: row;
}

nav a {
  margin-right: 30px;
  text-decoration: none;
  color: var(--color1);
}

/*add class to nav

/* Hero Banner Styles */

.hero-banner {
  height: 400px;
  width: 100%;
  background-image: url(../images/main.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

.hero-banner h2 {
  padding: 0 80px 50px 0;
  font-size: 40px;
  color: var(--color1);
  text-shadow: 3px 3px var(--color2);
}

/* Page Wrapper Styles */

.page-wrapper {
  padding: 30px;
}

/* Portfolio Sections Styles */

#about,
#work,
#contact {
  width: 100%;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-areas: "title content";
  padding: 50px 0 50px 0;
}

#title {
  text-align: right;
  font-size: 30px;
  padding: 30px 30px 0 0;
  grid-area: title;
  color: var(--color5)
}

#content {
  grid-area: content;
}

#content,
#footer {
  border-left: 3px var(--color4) solid;
}

/*  */


/* About Me Styles */

#about p {
  padding: 30px 50px 30px 30px;
  text-align: justify;
}

/* Work Styles */

#projects {
  width: 100%;
  display: grid;
  grid-template-rows: 300px 200px 200px;
  grid-template-columns: 45% 45%;
  grid-template-areas: "project1 project1"
    "project2 project3"
    "project4 project5";
  padding: 50px 0 50px 0;
  gap: 30px;
  justify-content: center;
}

.project1,
.project2,
.project3,
.project4,
.project5 {
  border: 10px var(--color4) solid;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project2,
.project3,
.project4,
.project5 {
  background-image: url(../images/project2.jpg);
}

.project1 {
  grid-area: project1;
  background-image: url(../images/project1.jpg);
}

.project2 {
  grid-area: project2;
}

.project3 {
  grid-area: project3;
}

.project4 {
  grid-area: project4;
}

.project5 {
  grid-area: project5;
}

#projects h3 {
  text-align: center;
  color: var(--color1);
  text-shadow: 2px 2px var(--color2);
  font-size: 25px;
}


/* Contact Me Styles */

#contact {
  height: 300px;
}

#footer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 60px;
}

#footer a {
  font-size: 20px;
}


/* Media Queries  */
/* 768 tablets
480 phones */

@media only screen and (max-width: 768px) {

  #projects {
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 90%;
    grid-template-areas: "project1"
      "project2"
      "project3"
      "project4"
      "project5";
  }

  #footer {
    justify-content: center;
  }

  #footer a {
    font-size: 16px;
    ;
  }


}


@media only screen and (max-width: 480px) {

  header {
    height: 100%;
    flex-direction: column;
    padding: 20px;
  }

  header h1 {
    margin-left: 0;
    ;
    padding: 30px;
  }

  nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  nav a {
    margin-right: 0;
    padding-bottom: 20px;
    font-size: 20px;
  }


  .hero-banner {
    align-items: center;
    justify-content: center;

  }

  .hero-banner h2 {
    padding: 0;
    margin: 0;
    font-size: 25px;
  }

  #about,
  #work,
  #contact {
    grid-template-columns: 100%;
    grid-template-areas: "title"
      "content";
    padding: 0;
  }

  #title {
    text-align: center;
    padding: 0;
    margin-bottom: 20px;
  }

  #content,
  #footer {
    border-top: 3px var(--color4) solid;

    border-left: none;
  }

  #about p {
    padding: 40px 20px;
  }

  #footer {
    padding: 40px 0;
  }

  #footer a {
    font-size: 20px;
  }

}

/* check nav and footer classes and condense */